.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

footer .footer-bottom .call,
.sc-banner .control-area [class*="btn-"],
.inner7 .group-sns .link-all-sns::before,
.inner6 .link-all-issue::before,
.inner4 .link-more,
header .search-area .btn-submit::before,
.gnb h1::before {
  background-image: url("../images/sp-bg.png");
  background-size: 300px;
  background-repeat: no-repeat;
}

.inner1 .main-col-left .slide-control [class*="btn-"] {
  background-image: url("../images/sp-bg2.png");
  background-size: 300px;
  background-repeat: no-repeat;
}
.inner1 .main-col-left [class*="tab-"] span::before {
  background-image: url("../images/sp-slide.png");
  background-size: 300px;
  background-repeat: no-repeat;
}

footer .footer-top a:last-child::after,
.inner1 .sns-area [class*="link-"]::before {
  background-image: url("../images/sp-sns.png");
  background-size: 295px;
  background-repeat: no-repeat;
}

.inner2 .list li [class*="ico-"]::before {
  background-image: url("../images/sp-icon.png");
  background-size: 1200px;
  background-repeat: no-repeat;
}
.inner5 .list li [class*="ico-"]::after {
  background-image: url("../images/sp-icon2.png");
  background-size: 315px;
  background-repeat: no-repeat;
}
.inner7 .group-sns .list [class*="link-"]::before {
  background-image: url("../images/sp-sns2.png");
  background-size: 280px;
  background-repeat: no-repeat;
}

.inner4 .color-welfare {
  color: #d76000;
}
.inner4 .color-environment {
  color: #599100;
}
.inner4 .color-culture {
  color: #9b64d3;
}
.inner6 .color-welfare {
  background-color: #d76000;
}
.inner6 .color-environment {
  background-color: #599100;
}
.inner6 .color-culture {
  background-color: #9b64d3;
}
.inner6 .color-traffic {
  background-color: #337ee2;
}
